


/* @media screen and (min-width: 900px) {
   .main-box-project{
 flex-wrap: ;
   }
  } */

 /* .project-main-c{
  background-color:#051523;

 } */
  .outside-map-box{
   padding: 3%;
   margin: 2%;
  }
  .inside-map-stack{
     padding: 4%;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  /* background-color: #0D1C2E; */
 
    }

    /* ////// */

    .project-grid-container{
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

   